// COLORS
$color-primary: #114EC2;
$color-lightprimary: #AAC5F8;
$color-black: #000000;
$color-dark: #242424;
$color-gray: #828282;
$color-lightgray: #989898;
$color-light: #FBFBFB;
$color-white: #FFFFFF;

// ITALIAN FLAG COLORS
$color-green: #009247;
$color-white: #FFFFFF;
$color-red: #CF2B36;

// FONT
$default-font-size: 1.6rem;