*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Rethink Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  scroll-behavior: smooth;
}

.display-width {
  width: 80%;
  margin: auto auto;
  max-width: 1200px;
}

.display-width-large {
  width: 90%;
  margin: auto auto;
}

.display-width-exception {
  width: 90%;
  margin-left: auto;
  margin-right: 0;
  max-width: 1550px;
}

.column {
  display: flex;
  flex-direction: column;
}

.column-rev {
  display: flex;
  flex-direction: column-reverse;
}

.row {
  display: flex;
  flex-direction: row;
}

.row-rev {
  display: flex;
  flex-direction: row-reverse;
}

.far-apart {
  display: flex;
  justify-content: space-between;
}

.pull-down {
  margin-bottom: -6rem;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
}
.header {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  z-index: 9999;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
}
.header__home {
  width: fit-content;
  height: fit-content;
  text-decoration: none;
}
.header__home__logo {
  background-image: url("../img/logo/nontgcob.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 5rem;
  height: 5rem;
}
.header__home__name {
  font-size: 2.2rem;
  color: #000000;
  font-weight: 500;
  display: flex;
  align-items: center;
  margin-left: 1.4rem;
}
.header__contact {
  text-decoration: none;
  padding: 0.8rem 2rem;
  border: 2px solid #000000;
  width: fit-content;
  height: fit-content;
  margin: auto 0;
  font-size: 1.8rem;
  border-radius: 1.4rem;
  color: #000000;
  font-weight: 600;
}
.header__contact:hover {
  background-color: #000000;
  color: #FFFFFF;
  transition: 0.3s ease-in;
}

.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
.hero__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.hero__title__name {
  font-size: 9rem;
  color: #114EC2;
  font-weight: 500;
  margin-bottom: 4rem;
}
.hero__title__viewCv {
  font-size: 2rem;
  text-decoration: none;
  color: #114EC2;
  border: 3px solid #114EC2;
  padding: 1.4rem 2.4rem;
  border-radius: 14px;
  font-weight: 600;
}
.hero__title__viewCv:hover {
  background-color: #114EC2;
  color: #FFFFFF;
  transition: 0.3s ease-in;
}
.hero__profile {
  background-image: url("../img/profile/nont_face_profile.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 70vh;
  height: 70vh;
  margin-right: 10vw;
  background-position: center;
}

.collab__title {
  font-size: 2.2rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 4rem;
  margin-top: 3.6rem;
}
.collab__companies {
  display: flex;
  align-items: center;
  width: fit-content;
  margin: auto;
  margin-bottom: 3.6rem;
}
.collab__companies__standard-height {
  height: 7rem;
  margin-right: 6rem;
}
.collab__companies__short-height {
  height: 5rem;
}

.about {
  height: 114vh;
  display: flex;
  align-items: center;
}
.about__image {
  background-image: url("../img/profile/aboutme-role.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 200rem;
  height: 200rem;
}
.about__text {
  padding: 3.4rem;
}
.about__text__title {
  font-family: "Poppins", sans-serif;
  font-size: 5.6rem;
  font-weight: 450;
}
.about__text__description {
  margin-top: 2.2rem;
  font-family: "Rethink Sans", sans-serif;
  font-size: 1.6rem;
  color: #828282;
}

/*# sourceMappingURL=style.css.map */
