*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Rethink Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  scroll-behavior: smooth;
}

main {
  height: 100vh;
  overflow-x: hidden;
}

.display-width {
  width: 80%;
  margin: auto auto;
  max-width: 1200px;
}

.display-width-large {
  width: 90%;
  margin: auto auto;
}

.display-width-exception {
  width: 90%;
  margin-left: auto;
  margin-right: 0;
  max-width: 1550px;
}

.column {
  display: flex;
  flex-direction: column;
}

.column-rev {
  display: flex;
  flex-direction: column-reverse;
}

.row {
  display: flex;
  flex-direction: row;
}

.row-rev {
  display: flex;
  flex-direction: row-reverse;
}

.far-apart {
  display: flex;
  justify-content: space-between;
}

.pull-down {
  margin-bottom: -6rem;
}

.gradient-bottomright {
  background: radial-gradient(circle at bottom right, hsla(229, 84%, 55%, 0.3) 20%, rgba(46, 81, 237, 0) 50%);
  height: 100%;
  justify-content: center;
  align-items: center;
}

.gradient-bottom-mini {
  background: radial-gradient(circle at bottom left, hsla(21, 100%, 50%, 0.3) 0%, hsla(31, 100%, 60%, 0.2) 20%, transparent 54%), radial-gradient(circle at bottom right, hsla(236, 100%, 50%, 0.3) 0%, hsla(212, 100%, 60%, 0.2) 20%, transparent 54%), linear-gradient(to top, hsla(237, 100%, 50%, 0.2) 0%, hsla(199, 100%, 60%, 0.1) 28%, transparent 70%);
  background-size: 60% 60%, 60% 60%, 100% 100%;
  background-position: bottom left, bottom right, center;
  background-repeat: no-repeat;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
}
@keyframes underline-left-to-right {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.header {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  z-index: 9999;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
}
.header__home {
  width: fit-content;
  height: fit-content;
  text-decoration: none;
}
.header__home__logo {
  background-image: url("../img/logo/nontgcob.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 5rem;
  height: 5rem;
}
.header__home__name {
  font-size: 2.2rem;
  color: #000000;
  font-weight: 500;
  display: flex;
  align-items: center;
  margin-left: 1.4rem;
}
.header__contact {
  text-decoration: none;
  padding: 0.8rem 2rem;
  border: 2px solid #000000;
  width: fit-content;
  height: fit-content;
  margin: auto 0;
  font-size: 1.8rem;
  border-radius: 1.4rem;
  color: #000000;
  font-weight: 600;
  transition: 0.3s ease-out;
}
.header__contact:hover {
  background-color: #000000;
  color: #FFFFFF;
  transition: 0.3s ease-in;
}

.hero {
  height: 106vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 4rem;
}
.hero__title__name {
  font-size: 9rem;
  color: #114EC2;
  font-weight: 500;
  margin-bottom: 4rem;
}
.hero__title__viewCv {
  font-size: 2rem;
  text-decoration: none;
  color: #114EC2;
  border: 3px solid #114EC2;
  padding: 1.4rem 2.4rem;
  border-radius: 14px;
  font-weight: 600;
  transition: 0.3s ease-out;
}
.hero__title__viewCv:hover {
  background-color: #114EC2;
  color: #FFFFFF;
  transition: 0.3s ease-in;
}
.hero__profile {
  background-image: url("../img/profile/nont_face_profile.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 70vh;
  height: 70vh;
  margin-right: 10vw;
  background-position: center;
  margin-bottom: 4rem;
}

.collab {
  transform: rotate(2deg);
  background-color: #FFFFFF;
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
  margin-top: -2.6rem;
  width: 102vw;
  margin-left: -2rem;
}
.collab__title {
  font-size: 2.2rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 4rem;
  margin-top: 3.6rem;
}
.collab__companies {
  display: flex;
  align-items: center;
  width: fit-content;
  margin: auto;
  margin-bottom: 3.6rem;
}
.collab__companies__standard-height {
  height: 7rem;
  margin-right: 6rem;
}
.collab__companies__short-height {
  height: 5rem;
}

.about {
  height: 92vh;
  display: flex;
  align-items: center;
  margin-top: 3rem;
}
.about__image {
  background-image: url("../img/profile/aboutme-role.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 70vh;
  height: 50vh;
  background-position: center;
  padding: auto;
}
.about__text {
  padding: 2.8rem 0 2.8rem 0;
}
.about__text__title {
  font-family: "Poppins", sans-serif;
  font-size: 5.6rem;
  font-weight: 450;
}
.about__text__description {
  margin-top: 2.2rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  width: 45vw;
  color: #828282;
}

.skills {
  margin-top: -18vh;
  height: 90vh;
}
.skills__text {
  width: fit-content;
}
.skills__text__title {
  font-size: 7rem;
  font-weight: 500;
  width: fit-content;
}
.skills__text__description {
  font-size: 2rem;
  color: #828282;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  width: 40vh;
  margin-top: 1.4rem;
}
.skills__list {
  padding-right: 10vw;
}
.skills__list__container {
  display: flex;
  flex-direction: column;
  width: 60rem;
}
.skills__list__container__box {
  background-color: #FFFFFF;
  height: 13rem;
  border: 1px solid hwb(0 0% 100%/0.1);
  border-radius: 30px;
  width: 60rem;
  transition: all 0.4s ease-out;
  padding: 1.2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.skills__list__container__box:not(:last-child) {
  margin-bottom: 2rem;
}
.skills__list__container__box .first-word {
  font-weight: 600;
  color: #114EC2;
}
.skills__list__container__box:hover {
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.04);
  border: 2px solid #114EC2;
  transition: all 0.4s ease-out;
  transform: scale(1.05);
}
.skills__list__container__box:hover .first-word {
  text-decoration: underline;
  text-underline-offset: 0.3rem;
  text-decoration-style: wavy;
}
.skills__list__container__box__icon {
  width: 18%;
  height: 100%;
  background-color: rgb(209, 233, 255);
  border-radius: 20px;
}
.skills__list__container__box__text {
  font-size: 1.5rem;
  color: #828282;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  width: 80%;
}

/*# sourceMappingURL=style.css.map */
