.about {
    // padding: 
    // height: 114vh;
    // height: 60rem;
    height: 92vh;
    display: flex;
    align-items: center;
    margin-top: 3rem;

    &__image {
        background-image: url("../img/profile/aboutme-role.png");
        background-size: contain;
        background-repeat: no-repeat;
        width: 70vh;
        height: 50vh;
        background-position: center;
        // border: 1px solid black;
        padding: auto;
    }

    &__text {
        padding: 2.8rem 0 2.8rem 0;
        // width: 49vw;

        &__title {
            font-family: "Poppins", sans-serif;
            font-size: 5.6rem;
            font-weight: 450;
        }

        &__description {
            margin-top: 2.2rem;
            font-family: "Poppins", sans-serif;
            font-size: 1.6rem;
            font-weight: 300;
            width: 45vw;
            color: $color-gray;
        }
    }
}