.collab {
    transform: rotate(2deg);
    background-color: $color-white;
    border-top: 2px solid $color-black;
    border-bottom: 2px solid $color-black;
    margin-top: -2.6rem;
    width: 102vw;
    margin-left: -2rem;
    
    &__title {
        font-size: 2.2rem;
        font-weight: 500;
        text-align: center;
        margin-bottom: 4rem;
        margin-top: 3.6rem;
    }

    &__companies {
        display: flex;
        align-items: center;
        width: fit-content;
        margin: auto;
        margin-bottom: 3.6rem;
        // border: 1px solid black;

        &__standard-height {
            height: 7rem;
            margin-right: 6rem;
        }

        &__short-height {
            height: 5rem;
        }
    }
}