.hero {
    height: 106vh;
    display: flex;
    align-items: center;
    justify-content: center;

    // &__container {
    //     display: flex;
    //     justify-content: space-between;
    //     align-items: center;
    //     width: 100%;
    //     height: 100%;
    // }

    &__title {
        display: flex;
        flex-direction: column;
        justify-content: center; // Ensures vertical centering within its container
        align-items: flex-start;
        margin-bottom: 4rem;

        &__name {
            font-size: 9rem;
            color: $color-primary;
            font-weight: 500;
            margin-bottom: 4rem;
        }

        &__viewCv {
            font-size: 2rem;
            text-decoration: none;
            color: $color-primary;
            border: 3px solid $color-primary;
            padding: 1.4rem 2.4rem;
            border-radius: 14px;
            font-weight: 600;
            transition: 0.3s ease-out;

            &:hover {
                background-color: $color-primary;
                color: $color-white;
                transition: 0.3s ease-in;
            }
        }
    }

    &__profile {
        background-image: url("../img/profile/nont_face_profile.png");
        // rescale the background image because it's a logo and is too large with the existing size
        background-size: contain;
        background-repeat: no-repeat;
        width: 70vh;
        height: 70vh;
        margin-right: 10vw;
        background-position: center;
        margin-bottom: 4rem;
    }
}
