.skills {
    margin-top: -18vh;
    height: 90vh;

    &__text {
        width: fit-content;

        &__title {
            font-size: 7rem;
            font-weight: 500;
            width: fit-content;
        }

        &__description {
            font-size: 2rem;
            color: $color-gray;
            font-family: "Poppins", sans-serif;
            font-weight: 300;
            width: 40vh;
            margin-top: 1.4rem;
        }
    }

    &__list {
        padding-right: 10vw;
        
        &__container {
            display: flex;
            flex-direction: column;
            width: 60rem;

            &__box {
                // height: fit-content;
                background-color: $color-white;
                height: 13rem;
                // padding: .6rem;
                border: 1px solid hwb(0 0% 100% / 0.10);
                border-radius: 30px;
                width: 60rem;
                transition: all 0.4s ease-out;
                padding: 1.2rem;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                &:not(:last-child) {
                    margin-bottom: 2rem;
                }

                .first-word {
                    font-weight: 600;
                    color: $color-primary;
                }

                &:hover {
                    box-shadow: 0 0 24px rgba(0, 0, 0, 0.04);
                    border: 2px solid $color-primary;
                    // margin-left: -4rem;
                    transition: all 0.4s ease-out;
                    transform: scale(1.05);

                    .first-word {
                        // width: 100%;
                        // transition: width 0.5s ease-out;
                        // animation: underline-left-to-right 0.5s forwards;
                        text-decoration: underline;
                        text-underline-offset: .3rem;
                        text-decoration-style: wavy;

                    }
                }

                &__icon {
                    width: 18%;
                    height: 100%;
                    background-color: rgb(209, 233, 255);
                    border-radius: 20px;
                }

                &__text {
                    font-size: 1.5rem;
                    color: $color-gray;
                    font-family: "Poppins", sans-serif;
                    font-weight: 300;
                    width: 80%;
                }

            }
        }
    }
}